/*Footer style*/
footer{
    background: #fdfcfc;
    width: 100%;
    height: 200px;
    display: fixed;
    margin-top: 5%;
}
footer #info_up{
    display: flex;
    justify-content: space-between;
    width: 98%;

}

#mais_info{
    display: flex;
    justify-content: space-between;
    font-size: 10pt;
    width: 97%;
    margin: auto;
}

#mais_info a{
    text-decoration: none;
}

footer #redes_sociais{
    width: 40%;
    height: 100px;
    margin: 0px 12px 40px 10px;
}

footer #redes_sociais img{
    width: 130px;
    margin-top: 1rem;
}

footer #redes_sociais .icon_sociais{
    width: 25px;
    display: flex;
    justify-content: space-between;
    display: inline;
}

/*inicio div "empresa"*/
footer #empresa{
    width: 30%;
    float: right;
    height: 100px;
}

footer #empresa h5{
    font-size: 14pt;
    color: #3F3D56;
    margin-top: .5rem;
}

footer #empresa a{
    font-size: 10pt;
    text-decoration: none;
    color: #323131;
}

footer #empresa a:last-child{
    margin-top: 20px;
}
/*final div empresa*/

/*inicio div "novidades"*/
footer #novidades{
    width: 30%;	
    height: 100px;
}

footer #novidades h5{
    font-size: 14pt;
    color:#3F3D56;
    margin-left: .1%;
    margin-top: .5rem;
}

footer #novidades a{
    font-size: 10pt;
    text-decoration: none;
    color: #323131;
    margin-left: .1%;
}

footer #mais_info a{
    text-decoration: none;
    color: #323131;
    margin-right: 2%;
}

footer #mais_info p{
    color:  #323131;
}

.icon_sociais{
    margin-right: 10%;
}