:root { 
    --background-grandient: linear-gradient(180deg, #EEEBEA 0%, rgba(129, 125, 124, 0) 109.55%);
    --primary-color: #2F2D4A;
	--secondary-color: #6C63FF;
	--tertiary-color: #6B6363;
	--quartenary-color: #323131;
	--background-questions: #3F3D56;
}

*{ 
	padding: 0;
	margin: 0;
}

body { 
	background: var(--background-grandient);
	font-family: 'Ebrima';   
	display: inline-block;
}
