@media only screen and (max-width: 980px) {
    
    #form_criar_conta{
        display: flex;
        margin: auto;
        background-color: #6C63FF;
        text-align: center;
        align-items: center;

        border-radius: 20px;
        width: 90%;
        color: white;
        margin: 10% auto;
        text-align: center;
        align-items: center;
        color: black;
        padding: 8%;
    }

    label, input[type="text"],[type="email"],[type="password"]{
        display: block;
        margin: auto;
        border-radius: 15px;
        padding: 2.5%;
    }

    label{
        margin-top: 4%;
        font-size: 14pt;
        font-weight: bold;
    }

    input[type="checkbox"]{
        display: inline-block;
        margin-top: 4%;
    }

    input[type="submit"]{
        margin-top: 20px;
        padding: 2% 15%;
        background-color: #c5c5c5;
        color: black;
        border-radius: 20px;
    }
       
}
